@import url('https://fonts.google.com/specimen/Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin';

}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
    
}
h4{
    font-size: 20px;
    color: #222;
    
}
h6{
    font-size: 12px;
    font-weight: 700;
    
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}

.section-p1{
    padding: 40px 80px;

}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/*header page (nav bar)*/
/* allows for the navbar to be made by separating the item to each end */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background: rgb(5, 5, 5);
    box-shadow: 0 5px 15px rgba(88, 86, 86, 0.06);
}

/* separates each href link into a row */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Eliminates the bulleted list of each href text and spaces them out */
#navbar li{
    list-style: none;
    padding: 0 20px;
    
}

/* eliminates href link on text and changes the text for the navbar */
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

/* changes color of the text when hovering over them */
#navbar li a:hover, #navbar li a.active{
    color:grey;
}

/*home page */

#hero{
    background-image: url("banner/matthew-henry-kX9lb7LUDWc-unsplash.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 79% right 70%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    

}
#hero h2{
    color: white;
}
#hero p{
    color: grey;
    padding: 0 10px;
}


/* customizes the button to allow for an animation */
#hero button{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    border:none;
    color: grey;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    
    transition: 0.5s;
    cursor: pointer;
    margin: 5px;  
}

#hero button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#hero button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#hero button:hover span{
    padding-right: 25px;
}

#hero button:hover span:after{
    opacity:1;
    right:0;
}


